body{
    background-color: #1e1e1e;
    color: gray;
    font-family: "sans-serif";
    font-size: 115%;
    max-width: 1133px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
a{
	color: wheat;
}
p{
	text-align: justify;
	hyphens: auto;
}
.image{
    margin: 10px;
}

.img-center{
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 50%;
}

.pic-column{
	float: left;
	width: 250px;	
	padding: 10px;
	margin: 5px;
}

.pic-column:hover{
/*
 * transform: scale(3);
 */
	margin-top: 37px;
}
.pic-row:after{
	content: "";
	clear: both;
       	display: table;
}
.nav{
    font-size: 150%;
    text-align: center;
    color: wheat;
    text-decoration: none;
}
.dot {
    height: 15px;
    width: 15px;
    background-color: wheat;
    border-radius: 50%;
    display: inline-block;
}
.arrow {
    border: solid wheat;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 6px;
    margin: 10px;
    width: 10px;
    height: 10px;
}
  
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
  
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.heading{
    font-family: monospace;
    font-size: 150%;
    border: gray solid thin;
    padding-top: 4px;
    padding-bottom: 4px;
}

.erot{
    color: wheat;
    padding: 4px;
}

.oni{
    background-color: #59316B;	
    padding: 4px;
    color: wheat;
}

.link-un{
	text-decoration: none;
	color: wheat;
}

.navigation{	
    background-color: #59316B;
    padding: 5px;
    border: gray solid thin;
}
.nav-ani{
   padding-top: 4px;
   padding-bottom: 4px;
   padding-left: 4px;
   padding-right: 4px;
}
.nav-ani:hover{
   background-color: #4A2755;
   padding-top: 4px;
   padding-bottom: 4px;
   padding-left: 4px;
   padding-right: 4px;
}
.text{
	padding-top: 10px;
}
.violet{
	color: #4A2755;
	background-color: gray;
	padding-left:4px;
	padding-right: 4px;
}
